.card{
    width: 18rem;
    height: 10vh;
    padding: 1rem;
    margin: 0.1rem;
    box-shadow: 1px 5px 24px 0 rgb(68 102 242 / 5%);
}
/* .card:hover {
transform: scale(1.05);
} */
.content{
position: fixed;
width: 100%;
padding: 0.2rem !important;
}
.box-content{
width: 100%;
height: 100%;
border: 1px solid #ddd;
}
.box-content-item{
line-height: 23px;
margin-bottom: 0px;
padding: 0 !important;
/* height: 80vh !important; */
overflow-x: scroll;
text-align: justify;
}
td{
padding: 0 0.3rem;
width: 15%;
}
 th, td {
    padding: 0.75rem;
    vertical-align: top !important;
    border-top: 1px solid #dee2e6 !important;
}
.btn-group .form-control {
border: 1px solid #7e858b61 !important;
border-radius: 0 !important;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
color: #093360;
background-color: #fff;
border-color:none !important;
border-bottom: #093360 1px solid;
}
li.nav-item {
width: 10%;
text-align: center;
}