<style>
    .card{
        width: 20rem;
        padding: 1rem;
        margin: 0.1rem;
        box-shadow: 1px 5px 24px 0 rgb(68 102 242 / 5%);
    }
    /* .card:hover {
    transform: scale(1.05);
} */
</style>
<div class="row">
    <div class="col-8 d-flex">
        <div class="card">
            <p>Item 1</p>
        </div>
        <div class="card">
            <p>Item 2</p>
            
        </div>
        <div class="card">
            <p>Item 3</p>
            
        </div>
        <div class="card">
            <p>Item 4</p>
            
        </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 100%;">
            <table>
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Delete</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="card" style="width: 100%;">
            <table>
                <tr>
                    <th class="p-2">Total:</th>
                    <td class="pr-2 w-100px">100</td>
                </tr>
            </table>
        </div>
    </div>
</div>