
.navbar{
    box-shadow: 2px 0 3px 1px rgb(68 102 242 / 10%);
    transition: .3s;
    background-color: #fff;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 15;
}
a .icon{
    cursor: pointer;
}