
<div class="card">
    <div class="card-header">
        <h6>Add New Invoice</h6>
    </div>
    <div class="card-body">
        <form>
            <div class="form-row">
              <div class="col-md-4">
                <label for="">اسم العميل</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary">search</button>
                    </div>
                  </div>
              </div>
              <div class="col-md-4">
                <label for="">نوع العميل</label>
                <input type="text" class="form-control" id="" placeholder="">
              </div>
              <div class="col-md-4">
                <label for="">البائع</label>
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                  </select>
              </div>
              <div class="col-md-4">
                <label for="">تاريخ الفاتورة</label>
                <input type="date" class="form-control" id="" placeholder="">
              </div>
              <div class="col-md-4">
                <label for="">نوع الفاتورة</label>
                <input type="text" class="form-control" id="" placeholder="">
              </div>
              <div class="col-md-4">
                <label for="">الفرع </label>
                <input type="text" class="form-control" id="" placeholder="">
              </div>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Save</button>
          </form>
    </div>
</div>
<div class="card">
<div class="content-table">
    <table class="table  table-hover table-striped">
        <thead>
            <tr>
                <th>test</th>
                <th>test</th>
                <th>test</th>
                <th>test</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
            </tr>
            <tr>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
            </tr>
            <tr>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
            </tr>
            <tr>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
            </tr>
            <tr>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
            </tr>
            <tr>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
            </tr>
            <tr>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
            </tr>
            <tr>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
            </tr>
            <tr>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
            </tr>
            <tr>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
            </tr>
            <tr>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
            </tr>
            <tr>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
            </tr>
            
        </tbody>
    </table>
</div>
<table>
    <tr>
        <th>Total</th>
        <td>10.0</td>
        <th>Total Of Discount</th>
        <td>10.0</td>
        <th>VAT</th>
        <td>10.0</td>
        <th>Grand Total</th>
        <td>10.0</td>
        
    </tr>
</table>
</div>
